@page "/"

<h4>Bienvenido a nuestro portal web</h4>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://swimburger.net/media/l14bae53/blazor-ui-long.png?anchor=center&mode=crop&width=1120&height=400&format=webp&quality=90&rnd=132506507318030000" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Documentacion Blazor</h5>
      <p class="card-text">En este apartado podras encontrar informacion referente al framework de microst tanto webassembly como razor server.</p>
      <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-5.0"> <p class="card-text"><small class="text-muted">Ir a sitio de Documentacion</small></p></a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://i2.wp.com/www.webdisenia.com/wp-content/uploads/2015/03/002.png?w=390" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Bootstrap 4</h5>
      <p class="card-text">Aprenda con la documentacion del sitio oficial del famoso framework Bootstrap.</p>
      <a href="https://getbootstrap.com/"> <p class="card-text"><small class="text-muted">Ir a sitio de Documentacion</small></p></a>
      
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://miro.medium.com/max/1000/1*wotzQboYWAfaj-7bvGNIkQ.png" alt="Card image cap">
        
    <div class="card-body">
      <h5 class="card-title">Repositorio del Proyecto</h5>
      <p class="card-text"> Tendra la capacidad de revisar los cambios a nivel del codigo fuente directamente de nuestros repositorios de GitHub.</p>
      <a href="https://github.com/nelson-pino/BlazorServerApp/tree/main/BlazorServerApp"> <p class="card-text"><small class="text-muted">Ir a Repositorio</small></p></a>
    </div>
  </div>
</div>

<SurveyPrompt Title="Como podemos ayudarlo, diganos queremos escucharlo..." />
